.App {
  margin-top: 5px;
  text-align: center;
}

.app__form {
  padding: 20px;
  position: fixed;
  backdrop-filter: blur(15px);
  background: rgba(240, 200, 231, 0.3);
  bottom: 20px;
  z-index: 10;

  display: block;

  right: 50%;
  transform: translateX(50%);
  border-radius: 15px;
  width: 50%;
  z-index: 2;
}
.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}
.app__input{
  flex: 1;
}
.app__iconButton {
  flex:0
}